@using Microsoft.Extensions.Localization;
@inject IPeopleRepository PeopleRepo
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<Resource> LRes
@inject ILogRepository LogRepo

<EditForm EditContext="editContext" OnValidSubmit="async () => await OnSubmit()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <CommonLabel DisplayText="@LRes["AddNewPerson"]" Color="@Constants.PrimaryColor"></CommonLabel>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="OnCloseModal"></button>
            </div>
            <div class="modal-body">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="col-md-9">
                    <div class="mb-2">
                        <label>@LRes["Name"]</label>
                        <InputText @bind-Value="person.Name" class="form-control"/>
                        <ValidationMessage For="() => person.Name"/>
                    </div>
                    <div class="mb-2">
                        <label>@LRes["PhoneNumber"]</label>
                        <InputText @bind-Value="person.PhoneNumber" class="form-control"/>
                        <ValidationMessage For="() => person.PhoneNumber"/>
                    </div>
                    <div class="mb-2">
                        <label>@LRes["Address"]</label>
                        <InputText @bind-Value="person.Address" class="form-control"/>
                        <ValidationMessage For="() => person.Address"/>
                    </div>
                    <div class="mb-2">
                        <label>@LRes["Type"]:</label>
                        <input class="ms-2" type="radio" id="seller" name="type" @onclick="() => OnSelectType(true)" checked="@(person.Source)"/>
                        <label for="seller" class="me-2">@LRes["Seller"]</label>
                        <input type="radio" id="buyer" name="type" @onclick="() => OnSelectType(false)" checked="@(!person.Source)"/>
                        <label for="buyer">@LRes["Buyer"]</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnCloseModal">@LRes["Close"]</button>
                <button type="submit" class="btn btn-primary">@LRes["Done"]</button>
            </div>
        </div>
    </div>
</EditForm>


@code {
    EditContext editContext;

    ValidatedPerson person = new() { Source = false };

    [Parameter]
    public EventCallback GetData { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(person);
    }

    async Task OnSubmit()
    {
        try
        {
            await HelperFunctions.AddIndicator(JsRuntime);
            Person personAdd = new()
            {
                Address = person.Address,
                Name = person.Name,
                PhoneNumber = person.PhoneNumber,
                Source = person.Source,
            };

            bool result = PeopleRepo.AddPerson(personAdd);
            await HelperFunctions.RemoveIndicator(JsRuntime);

            if (result)
            {
                person = new() { Source = false };
                editContext = new(person);
                await HelperFunctions.ShowNotification(JsRuntime, ToastType.Success, LRes["AddPersonSuccess"]);
                await HelperFunctions.HideModal(JsRuntime, "addPersonModal");
                await GetData.InvokeAsync();
                return;
            }
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["AddPersonFailed"]);
        }
        catch (Exception ex)
        {
            Log log = new()
            {
                CreatedDate = DateTime.Now,
                Location = "Manage people > Add peerson Modal > OnSubmit()",
                Message = ex.Message,
                StackTrace = ex.StackTrace
            };

            LogRepo.Add(log);
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["CommonErrMsg"]);
        }
    }

    void OnCloseModal()
    {
        person = new() { Source = false };
        editContext = new(person);
    }

    void OnSelectType(bool value)
    {
        person.Source = value;
    }
}
}
