@page "/manage-meat"
@using Microsoft.AspNetCore.WebUtilities;
@using System.Globalization
@using Microsoft.Extensions.Localization;
@using Accounting.Repositories.Interfaces;
@inject IMeatRepository MeatRepository
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<Resource> LRes
@attribute [Authorize]

<PageTitle>@LRes["Product Management"]</PageTitle>

<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <CommonLabel DisplayText="@LRes["Product List"]" Color="primary"></CommonLabel>
        <div class="d-flex mb-2">
            <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#priceModal"><i class="fa-duotone fa-circle-dollar"></i> @LRes["Manage Price"]</button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addMeatModal"><i class="fa-duotone fa-plus"></i> @LRes["Add"]</button>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-2">
        <div class="col-md-1 me-2">
            <select class="form-select" onchange="@((ChangeEventArgs e) => onParamsChange(e, "Prozen"))">
                <option value="">@LRes["Product Type"]</option>
                <option value="true" selected="@(Prozen)">@LRes["Prozen Meat"]</option>
                <option value="false" selected="@(!Prozen)">@LRes["Normal Meat"]</option>
            </select>
        </div>
        <div class="col-md-1 me-2">
            <select class="form-select" onchange="@((ChangeEventArgs e) => onParamsChange(e, "Type"))">
                <option value="">@LRes["Meat Type"]</option>
                <option value="@((int)MeatType.Beef)" selected="@(Type == (int)MeatType.Beef)">@LRes["Beef"]</option>
                <option value="@((int)MeatType.Buffalo)" selected="@(Type == (int)MeatType.Buffalo)">@LRes["Buffalo"]</option>
                <option value="@((int)MeatType.Calves)" selected="@(Type == (int)MeatType.Calves)">@LRes["Calves"]</option>
            </select>
        </div>
        <div class="d-flex col-md-4 justify-content-between">
            <div class="col-md-10 pe-1">
                <input type="text" class="form-control" placeholder="@LRes["Search by name"]" value="@(Keyword)" onchange="@((ChangeEventArgs e) => onParamsChange(e, "Keyword"))"/>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary w-100" @onclick="() => onParamSubmit()"><i class="fa-regular fa-filter"></i> @LRes["Filter"]</button>
            </div>
        </div>
    </div>
    <CommonDataTable Context="Context" 
        Headers="Headers" 
        TData="MeatDTO" 
        PaginationData="Meats" 
        Sorting="@Sorting" 
        SortData="(sortingString) => SortData(sortingString)"
        GetData="GetPaginateData"
        PaginationObject="Pagination"
        DisplayPaging="true">
        <TBody>
            <tr>
                <td>@Context.Name</td>
                <td>@HelperFunctions.RenderMeatType(LRes, Context.Type.Value)</td>
                <td>@(Context.Prozen.Value ? LRes["Prozen Meat"] : LRes["Normal Meat"])</td>
                <td>@(Context.YesterdayEntryPrice == null ? LRes["No data"] : Context.YesterdayEntryPrice.Value.ToString("n0") + " " + LRes["Thousand Dong"])</td>
                <td>@(Context.TodayEntryPrice == null ? LRes["No data"] : Context.TodayEntryPrice.Value.ToString("n0") + " " + LRes["Thousand Dong"])</td>
                <td>@(Context.YesterdaySalePrice == null ? LRes["No data"] : Context.YesterdaySalePrice.Value.ToString("n0") + " " + LRes["Thousand Dong"])</td>
                <td>@(Context.TodaySalePrice == null ? LRes["No data"] : Context.TodaySalePrice.Value.ToString("n0") + " " + LRes["Thousand Dong"])</td>
                <td>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editMeatModal" @onclick="() => SelectMeat(Context.Id) "><i class="fa-duotone fa-pen-to-square"></i> @LRes["Edit"]</button>
                    @*<button class="btn btn-info"><i class="fa-solid fa-circle-info"></i> Chi tiết</button>*@
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMeat" @onclick="() => SelectMeat(Context.Id)"><i class="fa-solid fa-recycle"></i> @LRes["Delete"]</button>
                </td>
            </tr>
        </TBody>
    </CommonDataTable>
    <CommonModalWrapper Id="addMeatModal">
        <ModalContent>
            <AddMeat GetData="GetData"/>
        </ModalContent>
    </CommonModalWrapper>
    <CommonModalWrapper Id="editMeatModal">
        <ModalContent>
            <EditMeat GetData="GetData" Meat="SelectedMeat"/>
        </ModalContent>
    </CommonModalWrapper>
    <CommonModalWrapper Id="priceModal">
        <ModalContent>
            <PriceList Meats="Meats" GetData="GetData"/>
        </ModalContent>
    </CommonModalWrapper>
    <CommonConfirmModal Title="@LRes["DeleteTitle"]" Message="@LRes["DeleteProductConfirmation"]" ModalID="deleteMeat" SubmitEvent="async () => await DeleteMeat(SelectedMeat != null ? SelectedMeat.Id : 0)"/>
</div>

@code {

    Pagination<MeatDTO> Meats;

    string Keyword = "";

    PaginationObject Pagination = new();

    int? Type = null;

    bool? Prozen = null;

    MeatDTO SelectedMeat;

    Uri Uri;

    Dictionary<string, string> Query = new()
    {
        {"pageIndex", ""},
        {"pageSize", ""},
        {"keyword", ""},
        {"type", ""},
        {"prozen", ""},
    };

    List<Header> Headers = new();

    string Sorting = "id_desc";

    protected override void OnInitialized()
    {
        Uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        Headers.Add(new Header() { Name = "Name", DisplayName = LRes["Name"], Ordering = true });
        Headers.Add(new Header() { Name = "Type", DisplayName = LRes["Meat Type"], Ordering = true });
        Headers.Add(new Header() { Name = "Prozen", DisplayName = LRes["Prozen Meat"] + "?", Ordering = true });
        Headers.Add(new Header() { Name = "YesterdayEntryPrice", DisplayName = $"{LRes["Yesterday Entry Price"]}/Kg <div>{HelperFunctions.GetLunarDate(DateTime.Now.AddDays(-1))}</div>", Ordering = true });
        Headers.Add(new Header() { Name = "TodayEntryPrice", DisplayName = $"{LRes["Today Entry Price"]}/Kg <div>{HelperFunctions.GetLunarDate(DateTime.Now)}</div>", Ordering = true });
        Headers.Add(new Header() { Name = "YesterdaySalePrice", DisplayName = $"{LRes["Yesterday Sale Price"]}/Kg <div>{HelperFunctions.GetLunarDate(DateTime.Now.AddDays(-1))}</div>", Ordering = true });
        Headers.Add(new Header() { Name = "TodaySalePrice", DisplayName = $"{LRes["Today Sale Price"]}/Kg <div>{HelperFunctions.GetLunarDate(DateTime.Now)}</div>", Ordering = true });
        Headers.Add(new Header() { Name = "Actions", DisplayName = LRes["Actions"] });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GetData();
        }
    }

    void GetData()
    {
        if (Uri != null)
        {
            if (QueryHelpers.ParseQuery(Uri.Query).TryGetValue("keyword", out var keyword))
            {
                Keyword = keyword;
            }
            if (QueryHelpers.ParseQuery(Uri.Query).TryGetValue("pageSize", out var pageSize))
            {
                Pagination.PageSize = !string.IsNullOrEmpty(pageSize) ? int.Parse(pageSize) : Pagination.PageSize;
            }
            if (QueryHelpers.ParseQuery(Uri.Query).TryGetValue("pageIndex", out var pageIndex))
            {
                Pagination.PageIndex = !string.IsNullOrEmpty(pageIndex) ? int.Parse(pageIndex) : Pagination.PageIndex;
            }
            if (QueryHelpers.ParseQuery(Uri.Query).TryGetValue("type", out var type))
            {
                Type = !string.IsNullOrEmpty(type) ? int.Parse(type) : null;
            }
            if (QueryHelpers.ParseQuery(Uri.Query).TryGetValue("prozen", out var prozen))
            {
                Prozen = !string.IsNullOrEmpty(prozen) ? bool.Parse(prozen) : null;
            }
        }

        Meats = MeatRepository.GetAllMeats(Keyword, Type, Prozen, Pagination.PageIndex, Pagination.PageSize, Sorting);
        StateHasChanged();
    }

    void SelectMeat(int id)
    {
        SelectedMeat = MeatRepository.GetMeatDetail(id);
    }

    async Task DeleteMeat(int id)
    {
        if(id > 0)
        {
            var result = MeatRepository.DeleteMeat(id);
            if (result)
            {
                await HelperFunctions.ShowNotification(JsRuntime, ToastType.Success, LRes["Move to recycle bin success"]);
                GetData();
                return;
            }
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["Move to reycle bin failed"]);
        }
    }

    void onParamsChange(ChangeEventArgs e, string paramType)
    {
        Pagination.PageIndex = 1;
        switch (paramType)
        {
            case "Prozen":
                Prozen = !string.IsNullOrEmpty(e.Value.ToString()) ? bool.Parse(e.Value.ToString()) : null;
                break;
            case "Type":
                Type = !string.IsNullOrEmpty(e.Value.ToString()) ? int.Parse(e.Value.ToString()) : null;
                break;
            case "Keyword":
                Keyword = e.Value.ToString();
                break;
            default:
                break;
        }
    }

    void onParamSubmit()
    {
        Query["keyword"] = Keyword;
        Query["prozen"] = Prozen.ToString();
        Query["type"] = Type.ToString();

        NavigationManager.NavigateTo(QueryHelpers.AddQueryString(Uri.AbsolutePath, Query.Where(x => !string.IsNullOrEmpty(x.Value))));

        Meats = MeatRepository.GetAllMeats(Keyword, Type, Prozen, Pagination.PageIndex, Pagination.PageSize, Sorting);
    }

    void GetPaginateData(PaginationObject pagination)
    {
        Pagination.PageIndex = pagination.PageIndex;
        Pagination.PageSize = pagination.PageSize;

        Query["pageIndex"] = pagination.PageIndex.ToString();
        Query["pageSize"] = pagination.PageSize.ToString();
        NavigationManager.NavigateTo(QueryHelpers.AddQueryString(Uri.AbsolutePath, Query.Where(x => !string.IsNullOrEmpty(x.Value))));

        Meats = MeatRepository.GetAllMeats(Keyword, Type, Prozen, pagination.PageIndex, pagination.PageSize, Sorting);
    }

    void SortData(string sortingString)
    {
        Sorting = sortingString;
        StateHasChanged();
        GetData();
    }
}
