@page "/dashboard"
@using BlazorDateRangePicker
@using ChartJs.Blazor
@using ChartJs.Blazor.BarChart;
@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.Common.Enums;
@using ChartJs.Blazor.Util;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Globalization
@using Microsoft.Extensions.Localization;
@using System.Drawing;
@inject IDashboardRepository DasboardRepo
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<Resource> LRes
@inject ILogRepository LogRepo
@inject ISettingRepository SettingRepo
@attribute [Authorize]

<PageTitle>@LRes["Dashboard"]</PageTitle>

<div class="container-fluid">
    <div class="card col-md-5 col-sm-12 col-lg-5 col-xl-5 mb-4 p-0">
        <div class="card-header d-flex justify-content-between">
            <div class="fw-bold">@LRes["WastedMeatWeight"]</div>
            <div>@($"{WastedDate.ToString("dd/MM/yyyy")} ({HelperFunctions.GetLunarDate(IsLeapYear, WastedDate)})")</div>
        </div>
        <div class="card-body">
            <div class="mb-2">
                <DateRangePicker class="form-control" placeholder="@LRes["ChooseDate"]" OnRangeSelect="async (dateRange) => await OnRangeSelect(dateRange) " MinDate="DateTime.Now.AddYears(-10)" MaxDate="DateTime.Now" ApplyLabel="@LRes["Done"]" CancelLabel="@LRes["Close"]" ShowOnlyOneCalendar="true" SingleDatePicker="true"/>
            </div>
            @if (Data != null && Data.Result != null && Data.Result.Any())
            {
                <table class="table table-bordered table-striped text-center table-responsive">
                    <thead>
                        <tr>
                            <th>@LRes["Name"]</th>
                            <th>@LRes["Meat Type"]</th>
                            <th>@LRes["Wasted"]</th>
                        </tr>
                    </thead>
                    <tbody class="overflow-auto" style="height: 10rem">
                        @foreach (var item in Data.Result)
                        {
                            <tr>
                                <td>@item.MeatName</td>
                                <td>@HelperFunctions.RenderMeatType(LRes, item.MeatType)</td>
                                <td>@(item.Weight + " Kg")</td>
                            </tr>
                        }
                        <tr>
                            <td class="fw-bold" colspan="2">@LRes["Total"]</td>
                            <td>@(Data.WastedWeight + " Kg")</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="card col-12">
        <Chart Config="config"/>
    </div>
</div>

@code {
    DashboardDTO Data;

    DateTime WastedDate = DateTime.Now;

    BarConfig config;

    bool IsLeapYear;

    protected override void OnInitialized()
    {
        config = new()
        {
            Options = new BarOptions
            {
                Responsive = true,
                Title = new OptionsTitle()
                {
                    Display = true,
                    Text = LRes["Lastest 10 days wasted weight"].ToString(),
                },
                Legend = new()
                {
                    Display = false
                },
            },
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsLeapYear = SettingRepo.IsLeapYear(DateTime.Now.Year);
            await GetWastedData();
            await GetChartData();
        }
    }

    async Task GetWastedData()
    {
        try
        {
            await HelperFunctions.AddIndicator(JsRuntime);
            Data = DasboardRepo.GetWastedWeight(WastedDate);
            await HelperFunctions.RemoveIndicator(JsRuntime);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Log log = new()
            {
                CreatedDate = DateTime.Now,
                Location = "Dashboard > GetWastedData()",
                Message = ex.Message,
                StackTrace = ex.StackTrace
            };

            LogRepo.Add(log);
            await HelperFunctions.RemoveIndicator(JsRuntime);
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["CommonErrMsg"]);
        }
    }
    async Task OnRangeSelect(DateRange range)
    {
        WastedDate = range.Start.DateTime;
        await GetWastedData();
    }

    async Task GetChartData()
    {
        try
        {
            var data = DasboardRepo.GetChartData();

            List<string> colors = new();
            List<decimal> showingData = new();

            data.ForEach(item =>
            {
                if (item.WastedWeight > 0 && item.WastedWeight <= 3)
                {
                    colors.Add(Constants.GoodChartColor);
                    showingData.Add(item.WastedWeight);
                    config.Data.Labels.Add(HelperFunctions.GetLunarDate(IsLeapYear, item.ActivateDate));
                }
                else if (item.WastedWeight > 3 && item.WastedWeight <= 5)
                {
                    colors.Add(Constants.WarningChartColor);
                    showingData.Add(item.WastedWeight);
                    config.Data.Labels.Add(HelperFunctions.GetLunarDate(IsLeapYear, item.ActivateDate));
                }
                else if (item.WastedWeight > 5)
                {
                    colors.Add(Constants.NotGoodChartColor);
                    showingData.Add(item.WastedWeight);
                    config.Data.Labels.Add(HelperFunctions.GetLunarDate(IsLeapYear, item.ActivateDate));
                }
            });

            BarDataset<decimal> dataset = new BarDataset<decimal>(showingData)
                {
                    BackgroundColor = colors.ToArray(),
                };
            config.Data.Datasets.Add(dataset);
        }
        catch (Exception ex)
        {
            Log log = new()
            {
                CreatedDate = DateTime.Now,
                Location = "Dashboard > GetChartData()",
                Message = ex.Message,
                StackTrace = ex.StackTrace
            };

            LogRepo.Add(log);
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["CommonErrMsg"]);
        }
    }
}
