@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Resource> LRes

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="manage-meat">@LRes["Accounting"]</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" id="system-nav" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <i class="fa-duotone fa-chart-line me-3"></i> @LRes["Dashboard"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manage-meat">
                <i class="fa-duotone fa-meat me-3"></i> @LRes["Manage product"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="people-management">
                <i class="fa-duotone fa-users me-3"></i> @LRes["Manage person"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manage-entry">
                <i class="fa-duotone fa-scale-unbalanced-flip me-3"></i> @LRes["Manage entries"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manage-sale">
                <i class="fa-duotone fa-scale-unbalanced-flip me-3"></i> @LRes["Manage Sale"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recycle-bin">
                <i class="fa-solid fa-recycle me-3"></i> @LRes["Recycle bin"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
