@using Accounting.Pages.PeopleManagement
@using Microsoft.Extensions.Localization;
@inject IPeopleRepository PeopleRepo
@inject IBillRepository BillRepo
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<Resource> LRes
@inject ILogRepository LogRepo

@if (!IsAdd)
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <CommonLabel DisplayText="@LRes["ChoosePerson"]" Color="@Constants.PrimaryColor"></CommonLabel>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto" style="height: 73vh">
                <div class="mb-2">
                    <button type="button" class="btn btn-outline-primary mb-2" onclick="@OnAddBtnClick"><i class="fa-duotone fa-plus"></i> @LRes["Add"]</button>
                    <input type="text" class="form-control" placeholder="@LRes["Search by name"]" value="@(Keyword)" onchange="@(async (ChangeEventArgs e) => {Keyword = e.Value.ToString(); await GetPeopleData();})" />
                </div>
                @if (People != null && People.Items.Any())
                {
                    <CommonDataTable Context="Context"
                    Headers="Headers"
                    TData="PersonDTO"
                    PaginationData="People"
                    DisplayPaging="false">
                        <TBody>
                            <tr role="button" @onclick="() => OnSelectPerson(Context.Id)">
                                <td>@(People.Items.IndexOf(Context) + 1)</td>
                                <td>@Context.Name</td>
                                <td>@Context.PhoneNumber</td>
                                <td>@Context.Address</td>
                                <td>@HandleDisplayType(Context.Source)</td>
                            </tr>
                        </TBody>
                    </CommonDataTable>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">@LRes["Done"]</button>
            </div>
        </div>
    </div>
}
else
{
    <AddPerson GetData="GetData" OnClose="OnAddBtnClick" />
}

@code {
    [Parameter]
    public Action GetData { get; set; }

    [Parameter]
    public PriceType PriceType { get; set; }

    public List<Header> Headers = new();

    Pagination<PersonDTO> People;

    string Keyword = string.Empty;

    bool IsAdd = false;

    protected override void OnInitialized()
    {
        Headers.Add(new Header() { Name = "Number", DisplayName = LRes["Number"] });
        Headers.Add(new Header() { Name = "Name", DisplayName = LRes["Name"] });
        Headers.Add(new Header() { Name = "PhoneNumber", DisplayName = LRes["PhoneNumber"] });
        Headers.Add(new Header() { Name = "Address", DisplayName = LRes["Address"] });
        Headers.Add(new Header() { Name = "Source", DisplayName = LRes["Type"] });
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetPeopleData();
    }

    async Task GetPeopleData()
    {
        try
        {
            People = PeopleRepo.GetAllPeople(Keyword, "", PriceType == PriceType.Entry ? true : null, 1, 10000);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Log log = new()
            {
                CreatedDate = DateTime.Now,
                Location = "Entry/SaleList > Add bill person modal > GetPeopleData()",
                Message = ex.Message,
                StackTrace = ex.StackTrace
            };

            LogRepo.Add(log);
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["CommonErrMsg"]);
        }
    }

    string HandleDisplayType(bool? type)
    {
        if (type != null && (bool)type)
        {
            return LRes["Seller"];
        }
        return LRes["Buyer"];
    }

    async Task OnSelectPerson(int id)
    {
        BillDTO bill = new()
        {
            PersonId = id,
            Type = (int)PriceType
        };

        await HelperFunctions.AddIndicator(JsRuntime);
        if (await BillRepo.AddBill(bill, null))
        {
            await HelperFunctions.RemoveIndicator(JsRuntime);
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Success, LRes["SuccessfullyAddBillPerson"]);
            await HelperFunctions.HideModal(JsRuntime, "addBillPeopleModal");
            GetData.Invoke();
            Keyword = string.Empty;
        }
        else
        {
            await HelperFunctions.RemoveIndicator(JsRuntime);
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["ThisPersonIsExisted"]);
        }
    }

    void OnAddBtnClick()
    {
        IsAdd = !IsAdd;
        StateHasChanged();
    }
}
