@inject IStringLocalizer<Resource> LRes
@inject IBillRepository BillRepo
@inject NavigationManager NavigationManager
@inject ILogRepository LogRepo
@inject IJSRuntime JsRuntime

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <CommonLabel DisplayText="@LRes["AddRestMeat"]" Color="@Constants.PrimaryColor"></CommonLabel>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="OnDismiss"></button>
        </div>
        <div class="modal-body">
            <label>@LRes["Weight"]</label>
            <div class="d-flex">
                <input class="form-control @(!string.IsNullOrEmpty(ErrorMsg) ? "is-invalid" : "")" type="number" value="@(Weight == 0 ? null : Weight)" placeholder="@LRes["EnterWeight"]" min="0" @onchange="OnWeightChange" />
                <span class="w-100 ms-2 d-flex align-items-center">kg</span>
            </div>
            <div class="text-danger">@ErrorMsg</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnDismiss">@LRes["Close"]</button>
            <button class="btn btn-primary" @onclick="async () => await OnSubmit()">@LRes["Done"]</button>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Action GetData { get; set; }

    [Parameter]
    public BillDTO Bill { get; set; }

    decimal? Weight = null;

    string ErrorMsg = string.Empty;

    void OnDismiss()
    {
        Bill = new();
        Weight = 0;
        ErrorMsg = string.Empty;
    }

    async Task OnSubmit()
    {
        try
        {
            if (Bill.Id > 0)
            {
                await HelperFunctions.AddIndicator(JsRuntime);
                if (!Weight.HasValue)
                {
                    ErrorMsg = LRes["EnterWeight"];
                }
                else
                {
                    ErrorMsg = string.Empty;
                }
                if (BillRepo.AddRestMeat(Bill.Id, Weight.Value))
                {
                    GetData.Invoke();
                    await HelperFunctions.HideModal(JsRuntime, "addRestMeatModal");
                    OnDismiss();
                    await HelperFunctions.RemoveIndicator(JsRuntime);
                    await HelperFunctions.ShowNotification(JsRuntime, ToastType.Success, LRes["SucessfullyPaid"]);
                }
                else
                {
                    await HelperFunctions.RemoveIndicator(JsRuntime);
                    await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["PaidFailed"]);
                }
            }
        }
        catch (Exception ex)
        {
            Log log = new()
                {
                    CreatedDate = DateTime.Now,
                    Location = "Sale List > AddRestMeatModal > OnSubmit()",
                    Message = ex.Message,
                    StackTrace = ex.StackTrace
                };

            LogRepo.Add(log);
            await HelperFunctions.RemoveIndicator(JsRuntime);
            await HelperFunctions.ShowNotification(JsRuntime, ToastType.Error, LRes["CommonErrMsg"]);
        }
    }

    void OnWeightChange(ChangeEventArgs e)
    {
        Weight = decimal.Parse(!string.IsNullOrEmpty(e.Value.ToString()) ? e.Value.ToString().Replace('.', ',') : "0");
    }
}
