@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Resource> LRes
@typeparam TData

<table class="table table-bordered table-striped text-center table-responsive @TableClass" style="@TalbleStyle">
    <thead>
        @if(THead != null)
        {
            @THead
        }
        else
        {
            <tr>
                @foreach (var header in Headers)
                {
                    if (!string.IsNullOrEmpty(Sorting))
                    {
                        if (header.Ordering && Sorting.ToLower().Contains(header.Name.ToLower()))
                        {
                            if (Sorting.ToLower().Contains("asc"))
                            {
                                <th role="button" onclick="@(() => OnHeaderClick(header.Name))">@((MarkupString)header.DisplayName) <i class="fa-duotone fa-arrow-up-arrow-down fa-rotate-180 float-end"></i></th>
                            }
                            else
                            {
                                <th role="button" onclick="@(() => OnHeaderClick(header.Name))">@((MarkupString)header.DisplayName) <i class="fa-duotone fa-arrow-up-arrow-down float-end"></i></th>
                            }
                        }
                        else if (header.Ordering && !Sorting.ToLower().Contains(header.Name.ToLower()))
                        {
                            <th role="button" onclick="@(() => OnHeaderClick(header.Name))">@((MarkupString)header.DisplayName)<i class="fa-solid fa-arrow-up-arrow-down float-end" style="color: #a5acb9;"></i></th>
                        }
                        else
                        {
                            <th>@((MarkupString)header.DisplayName)</th>
                        }
                    }
                    else
                    {
                        <th>@((MarkupString)header.DisplayName)</th>
                    }
                }
            </tr>
        }
    </thead>
    <tbody>
        @if(TableBody != null)
        {
            @TableBody
        }
        else
        {
            @if (PaginationData != null && PaginationData.Items.Any())
            {
                @foreach (var item in PaginationData.Items)
                {
                    @TBody(item)
                }
            }
            else
            {
                <tr>@LRes["No data"]</tr>
            }
        }
    </tbody>
</table>
@if (DisplayPaging)
{
    if (Pagination != null)
    {
        @Pagination
    }
    else
    {
        <PaginationView TData="TData" GetData="@GetData" PaginationData="@PaginationData" Pagination="@PaginationObject"/>
    }
}

@code {
    [Parameter]
    public RenderFragment THead { get; set; }

    [Parameter]
    public List<Header> Headers { get; set; }

    [Parameter]
    public RenderFragment<TData> TBody { get; set; }

    [Parameter]
    public Pagination<TData> PaginationData { get; set; }

    [Parameter]
    public Action<string> SortData { get; set; }

    [Parameter]
    public string Sorting { get; set; }

    [Parameter]
    public RenderFragment<TData> Pagination { get; set; }

    [Parameter]
    public Action<PaginationObject> GetData { get; set; }

    [Parameter]
    public PaginationObject PaginationObject { get; set; }

    [Parameter]
    public bool DisplayPaging { get; set; } = false;

    [Parameter]
    public RenderFragment TableBody { get; set; }

    [Parameter]
    public string TableClass { get; set; }

    [Parameter]
    public string TalbleStyle { get; set; }

    void OnHeaderClick(string fieldName)
    {
        var sortType = Sorting.Split('_')[1];
        string sortingString = string.Empty;

        if (!Sorting.Contains(fieldName.ToLower()))
        {
            sortType = "desc";
        }

        if (sortType.ToLower().Equals("asc"))
        {
            sortingString = $"{fieldName.ToLower()}_desc";
        }
        else
        {
            sortingString = $"{fieldName.ToLower()}_asc";
        }
        SortData?.Invoke(sortingString);
    }
}
