@page
@using Accounting.Pages;
@using Microsoft.Extensions.Localization;
@model LoginModel
@inject IStringLocalizer<Resource> LRes

@{
    ViewData["Title"] = LRes["Log in"];
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row mt-md-5 mt-lg-5 mt-xl-5">
    <div class="col-md-6 mx-auto">
       <div class="card">
           <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Username" class="form-control rounded-pill ps-4" autocomplete="username" aria-required="true" placeholder="@LRes["Username"]" />
                        <label asp-for="Input.Username" class="form-label ms-2">@LRes["Username"]</label>
                        <span asp-validation-for="Input.Username" class="text-danger ms-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control rounded-pill ps-4" autocomplete="current-password" aria-required="true" placeholder="@LRes["Password"]" />
                        <label asp-for="Input.Password" class="form-label ms-2">@LRes["Password"]</label>
                        <span asp-validation-for="Input.Password" class="text-danger ms-2"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary rounded-pill">@LRes["Log in"]</button>
                    </div>
                </form>
           </div>
       </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
