@page "/system-setting"
@using Microsoft.Extensions.Localization;
@inject ISettingRepository SettingRepo
@inject IStringLocalizer<Resource> LRes

<div class="container-fluid">
    <CommonLabel DisplayText="@LRes["SystemSettings"]" Color="@Constants.PrimaryColor"/>
        <div class="d-flex mt-2">
            <div class="nav flex-column nav-pills me-3 w-25" id="setting-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="date-time-setting-tab" data-bs-toggle="pill" data-bs-target="#date-time-setting" type="button" role="tab" aria-controls="date-time-setting" aria-selected="true">@LRes["DateTimeSettings"]</button>
                @*<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>*@
            </div>
            <div class="tab-content w-100" id="setting-tabContent">
                <div class="tab-pane fade show active" id="date-time-setting" role="tabpanel" aria-labelledby="date-time-setting-tab">
                    <div class="d-flex justify-content-between">
                        <div>@LRes["IsLeapYear"]</div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" checked="@IsLeapYear" @onclick="() => ChangeSetting(Constants.IsLeapYearSetting, (!IsLeapYear).ToString())">
                        </div>
                    </div>
                </div>
                @*<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>*@
            </div>
        </div>
</div>

@code {
    bool IsLeapYear;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            IsLeapYear = bool.Parse(SettingRepo.GetSettingValue(Constants.IsLeapYearSetting));
            StateHasChanged();
        }
    }

    void ChangeSetting(string settingName, string value)
    {
        if(SettingRepo.ChangeSetting(settingName, value))
        {
            IsLeapYear = !IsLeapYear;
            StateHasChanged();
        }
    }
}
